<mat-spinner style="margin: 3% auto;" *ngIf="isLoading"></mat-spinner>

<mat-card style="width: 90%; margin: 3% auto;" *ngIf="!isLoading">
  <mat-card-header style="float: right;">
    <button mat-raised-button color="primary" (click)="clear()">
      <mat-icon>delete_forever</mat-icon>&nbsp;
      Clear All Events
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-footer style="width: 98%; margin: auto;">
    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="eventName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.eventName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="registeredDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Registered Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.registeredDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="eventStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Event Status </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.eventStatus}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-footer>
</mat-card>
