<mat-card class="container-main" *ngIf="showForm">
    <mat-card-header style="display: block;">
      <h2 style="text-align: center;">Register Event</h2>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="formEvent">

        <mat-form-field appearance="outline" class="container-form-field">

          <mat-label>Event Name</mat-label>

          <input matInput type="text" placeholder="Event Name" formControlName="eventName">

        </mat-form-field>
        <div *ngIf="!eventName.pristine && eventName.errors">
          <p *ngIf="eventName.errors.required" class="container-error">Enter the name of the event.</p>
          <p *ngIf="eventName.errors.minlength" class="container-error">The Event must contain at least <strong>1</strong> character.</p>
        </div>

        <mat-form-field appearance="outline" class="container-form-field">
          <mat-label>Choose a Date</mat-label>

          <input matInput [ngxMatDatetimePicker]="picker" [min]="currentDate" placeholder="Choose a date" formControlName="eventDate">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

          <ngx-mat-datetime-picker #picker  [showSeconds]="'true'"></ngx-mat-datetime-picker>

        </mat-form-field>

        <div *ngIf="!eventDate.pristine && eventDate.errors">
          <p *ngIf="eventDate.errors.required" class="container-error">Enter the date of the event.</p>
        </div>

        <button [disabled]="!formEvent.valid" mat-raised-button color="primary" (click)="registerEvent()" class="btn-save">
          <mat-icon>save</mat-icon> Save Event
        </button>

        <button mat-raised-button color="warn" (click)="resetForm()" class="btn-clear">
          <mat-icon>clear</mat-icon> Clear Fields</button>
      </form>
    </mat-card-content>
</mat-card>

<div *ngIf="showTimer" class="container-main">
    <button mat-raised-button color="primary" (click)="registerNewEvent()" style="margin: 2% auto; display: block;">Register New Event</button>
    <app-countdown-timer [registredEvent]="registredEvent"></app-countdown-timer>
</div>
