.container-form-field {
  display: block;
  width: 100%;
}
.container-error {
  color: red;
  margin-top: -2%;
}

.container-main {
  width: 60%;
  display: block;
  margin: 10% auto;
}

@media (max-width: 801px) {
  .container-main {
    width: 60%;
  }
}

@media (min-width: 600px) {
  .container-main {
    width: 85%;
  }
}
