<!-- <router-outlet></router-outlet> -->
<mat-card>
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="formEvent">

      <mat-form-field appearance="outline">

        <mat-label>Event Name</mat-label>

        <input matInput type="text" placeholder="Event Name" formControlName="eventName">

      </mat-form-field>
      <div *ngIf="!eventName.pristine && eventName.errors">
        <p *ngIf="eventName.errors.required">Enter the name of the event.</p>
        <p *ngIf="eventName.errors.minlength">The Event must contain at least <strong>1</strong> character.</p>
      </div>

      <mat-form-field appearance="outline">

        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="eventDate">

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <ngx-mat-datetime-picker #picker  [showSeconds]="'true'"></ngx-mat-datetime-picker>

      </mat-form-field>

      <div *ngIf="!eventDate.pristine && eventDate.errors">
        <p *ngIf="eventDate.errors.required">Enter the date of the event.</p>
      </div>

      <button  [disabled]="!formEvent.valid" mat-raised-button color="primary" (click)="registerEvent()">Save</button>

      <button mat-raised-button color="warn" (click)="resetForm()">Clear Fields</button>
    </form>

  </mat-card-content>
  <mat-card-footer>

  </mat-card-footer>
</mat-card>
